.searchForm {
    padding: 16px 0;

    select {
        padding: 8px 16px;
    }

    input {
        width: 320px;
        padding: 8px 16px;
    }

    button {
        position: relative;
        left: -30px;
    }
}